@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

$font-text: 'Somic-Machine', Arial, sans-serif;
$text-color: #1B2432;
$btn-color: #49A1D6;
$hover-btn-color: #3D8CB5;
$border-color: #E5E7EB;